body{
	font-family: Arial;
	font-size: 90%;
}

.contenu{
	margin: auto;
	width: 70%;
	border: 2px solid black;
	padding: 10px;
	text-align: center;
}

.login{
	text-align: right;
}

.bouton{
	padding: 5px 10px;
	border-radius: 10px;
}

hr{
	width: 60%;
	margin-top: 20px;
	margin-bottom: 30px;
}

li{
	list-style-type: none;
}

table{
	margin: auto;
}

td{
	padding: 0px 8px;
}

.tableContactName{
	border-right: 1px solid black;
}

.titrePage{
	text-align: center;
}

#texteDescription{
	font-style: italic;
	text-align: justify;
	margin-top: 20px;
	padding: 20px;
}

.selectedContact{
	font-weight: bold;
}

.createEventFromProfil{
	background-color: blue;
	color: white;
	padding: 10px 25px;
	border-radius: 0px;
	border: none;
}

.selectedFormulaire{
	font-weight:bold;
}

#calendar{
	margin: auto;
	padding: 30px 0px;
	width: 80%;
}

.hidePage{
	display: none;
}